body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

div, 
h1,
table
{
    background-color: lemonchiffon;
    /* border: 20px;
    border-color: blueviolet;
    border-style: solid;
    margin: 20px;
    padding: 20px;
    height: 70px;
    color: green;
    font-size: medium !important; */
}
 
span,
button
{
    font-weight: bold;
    color: red;
    background-color: burlywood;
    height: 50px;
}

/* id -> # */
#div1
{
    color: red;
    font-size: x-large;
    font-weight: bold;
}

#div2
{
    color: blue;
    font-size: large;
    font-weight: bold;
}

/*  target a child of a specific element*/
#div1 > p
{
    margin-left: 20px ;
}

/* classes -> . */
.nested-div
{
    background-color: yellow;
}