* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  --Blue: #00ADEE;
  --Blue-Border:  rgba(0, 173, 238, 0.4);
  --Green: #8CC36F;
  --Green-Border:  rgba(170, 239, 135, 0.8);
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  position:fixed;
  width: 200px;
  border-right: 1px solid var(--Blue-Border);
  height: 100vh;
  padding: 0 20px;
}
aside>img {
  height: 120px;
  display: block;
  margin: 0 auto;
}

main {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

aside li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid var(--Blue-Border);
  margin: 10px auto;
  padding-bottom: 10px;
  width: 80%;
  line-height: 2;
}

li a {
  font-weight: bold;
  color: var(--Blue);
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

header {
  height: 120px;
}

header>img {
  height: 80%;
}

.banner {
  display: block;
  width: 100%;
}

section>div {
  display: inline-block;
  width: 33%;
  padding-right: 20px;
  margin-top: 2opx;
}

section>div:not(:last-child) {
  border-right: 1px solid var(--Green-Border);
}

section>div:not(:first-child) {
  padding-left: 20px;
}

section h2 {
  color: var(--Green);
}

h2>i {
  margin-right: 10px;
}

