body
{
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    color: #ff0033;
}

img
{
    height: 150px;
}

section
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}